/* DNA */

position: relative;
width: 812px;
height: 375px;
left: 5763px;
top: 1139.74px;

background: #020618;
border-radius: 0px;


/* sF */

position: absolute;
width: 812px;
height: 375px;
left: 0px;
top: -0.04px;

background: #020618;
border-radius: 0px;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

position: absolute;
width: 727px;
height: 272px;
left: 66px;
top: 77.04px;

border-radius: 0px;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px -7.62939e-06px;
gap: 16px;

width: 355.5px;
height: 272px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* section */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
gap: 12px;

width: 355.5px;
height: 82px;

background: rgba(15, 23, 43, 0.4);
border: 1px solid #1D293D;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* div */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 64px;
height: 64px;

background: url(bg_removal [Background removed].png), #020618;
border: 1px solid rgba(0, 184, 219, 0.2);
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* div */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 261.5px;
height: 64px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;


/* brave visionary */

width: 261.5px;
height: 24px;

font-family: 'Inter';
font-style: italic;
font-weight: 900;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-transform: uppercase;

color: #F1F5F9;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* p */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 4px;

width: 261.5px;
height: 33px;

border-left: 1px solid rgba(0, 184, 219, 0.4);
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* "Büyük resmi görürsün. Stratejik hedef her zaman ö */

width: 257.33px;
height: 33px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 11px;
/* or 138% */

color: #90A1B9;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* section */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;
gap: 4px;

width: 355.5px;
height: 174px;

background: rgba(15, 23, 43, 0.6);
border: 1px solid #1D293D;
box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.05);
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* div */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 2.86102e-05px 0px 0px;
gap: 232.19px;

width: 342.84px;
height: 10.51px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 5.99px;

width: 106.66px;
height: 10.51px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Dna */

width: 9.99px;
height: 9.99px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 41.67%;
right: 52.08%;
top: 66.67%;
bottom: 27.08%;

border: 0.832839px solid #00D3F2;


/* Vector */

position: absolute;
left: 52.08%;
right: 41.67%;
top: 27.08%;
bottom: 66.67%;

border: 0.832839px solid #00D3F2;


/* Vector */

position: absolute;
left: 50.81%;
right: 37.5%;
top: 8.33%;
bottom: 66.7%;

border: 0.832839px solid #00D3F2;


/* Vector */

position: absolute;
left: 68.75%;
right: 27.08%;
top: 43.75%;
bottom: 52.08%;

border: 0.832839px solid #00D3F2;


/* Vector */

position: absolute;
left: 58.79%;
right: 29.16%;
top: 12.95%;
bottom: 75%;

border: 0.832839px solid #00D3F2;


/* Vector */

position: absolute;
left: 8.34%;
right: 8.33%;
top: 37.5%;
bottom: 37.5%;

border: 0.832839px solid #00D3F2;


/* Vector */

position: absolute;
left: 83.34%;
right: 12.95%;
top: 37.5%;
bottom: 58.79%;

border: 0.832839px solid #00D3F2;


/* Vector */

position: absolute;
left: 12.95%;
right: 83.34%;
top: 58.79%;
bottom: 37.5%;

border: 0.832839px solid #00D3F2;


/* Vector */

position: absolute;
left: 27.08%;
right: 68.75%;
top: 52.08%;
bottom: 43.75%;

border: 0.832839px solid #00D3F2;


/* Vector */

position: absolute;
left: 29.17%;
right: 58.79%;
top: 75%;
bottom: 12.95%;

border: 0.832839px solid #00D3F2;


/* Vector */

position: absolute;
left: 37.5%;
right: 50.81%;
top: 66.7%;
bottom: 8.33%;

border: 0.832839px solid #00D3F2;


/* h3 */

width: 90.67px;
height: 10.51px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Psychological Matrix */

position: absolute;
width: 97px;
height: 11px;
left: 0px;
top: -0.24px;

font-family: 'Menlo';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 11px;
/* identical to box height, or 138% */
text-transform: uppercase;

color: #E2E8F0;



/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 3.99px;
height: 3.99px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* div */

width: 344px;
height: 141px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

box-sizing: border-box;

position: absolute;
width: 32px;
height: 32px;
left: 311.6px;
top: 0.06px;

border-width: 0.76236px 0.76236px 0px 0px;
border-style: solid;
border-color: rgba(29, 41, 61, 0.4);
border-radius: 0px 10px 0px 0px;


/* Container */

box-sizing: border-box;

position: absolute;
width: 32px;
height: 32px;
left: 0.76px;
top: 108.06px;

border-width: 0px 0px 0.76236px 0.76236px;
border-style: solid;
border-color: rgba(29, 41, 61, 0.4);
border-radius: 0px 0px 0px 10px;


/* RadarChart */

position: absolute;
width: 149px;
height: 115px;
left: 22px;
top: 8.68px;

border-radius: 0px;


/* Icon */

position: absolute;
width: 149px;
height: 113px;
left: 0px;
top: 1px;

border-radius: 0px;


/* Group */

position: absolute;
left: 20.86%;
right: 22.31%;
top: 12.28%;
bottom: 7.9%;



/* Group */

position: absolute;
left: 20.86%;
right: 22.31%;
top: 12.28%;
bottom: 7.9%;



/* Vector */

position: absolute;
left: 49.28%;
right: 50.72%;
top: 12.28%;
bottom: 47.81%;

background: #000000;
border: 0.499761px solid #1E293B;


/* Vector */

position: absolute;
left: 49.28%;
right: 22.31%;
top: 32.24%;
bottom: 47.81%;

background: #000000;
border: 0.499761px solid #1E293B;


/* Vector */

position: absolute;
left: 49.28%;
right: 22.31%;
top: 52.19%;
bottom: 27.85%;

background: #000000;
border: 0.499761px solid #1E293B;


/* Vector */

position: absolute;
left: 49.28%;
right: 50.72%;
top: 52.19%;
bottom: 7.9%;

background: #000000;
border: 0.499761px solid #1E293B;


/* Vector */

position: absolute;
left: 20.86%;
right: 50.72%;
top: 52.19%;
bottom: 27.85%;

background: #000000;
border: 0.499761px solid #1E293B;


/* Vector */

position: absolute;
left: 20.86%;
right: 50.72%;
top: 32.24%;
bottom: 47.81%;

background: #000000;
border: 0.499761px solid #1E293B;


/* Group */

position: absolute;
left: 20.86%;
right: 22.31%;
top: 12.28%;
bottom: 7.9%;



/* Vector */

position: absolute;
left: 42.17%;
right: 43.62%;
top: 42.21%;
bottom: 37.83%;

border: 0.499761px solid #1E293B;


/* Vector */

position: absolute;
left: 35.07%;
right: 36.52%;
top: 32.24%;
bottom: 27.85%;

border: 0.499761px solid #1E293B;


/* Vector */

position: absolute;
left: 27.96%;
right: 29.41%;
top: 22.26%;
bottom: 17.87%;

border: 0.499761px solid #1E293B;


/* Vector */

position: absolute;
left: 20.86%;
right: 22.31%;
top: 12.28%;
bottom: 7.9%;

border: 0.499761px solid #1E293B;


/* Group */

position: absolute;
left: -3.61%;
right: -1.44%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 20.86%;
right: 22.31%;
top: 12.28%;
bottom: 7.9%;



/* Group */

position: absolute;
left: -3.61%;
right: -1.44%;
top: 0%;
bottom: 0%;



/* Group */

position: absolute;
left: 42.43%;
right: 43.87%;
top: 0%;
bottom: 87.72%;



/* Vector */

position: absolute;
left: 49.28%;
right: 50.72%;
top: 5.26%;
bottom: 87.72%;



/* Vision */

position: absolute;
left: 42.43%;
right: 43.87%;
top: 0%;
bottom: 93.86%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 5.99713px;
line-height: 7px;
text-align: center;

color: #64748B;



/* Group */

position: absolute;
left: 77.69%;
right: -1.44%;
top: 23.46%;
bottom: 67.76%;



/* Vector */

position: absolute;
left: 77.69%;
right: 17.31%;
top: 28.73%;
bottom: 67.76%;



/* Courage */

position: absolute;
left: 82.69%;
right: -1.44%;
top: 23.46%;
bottom: 70.39%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 5.99713px;
line-height: 7px;

color: #64748B;



/* Group */

position: absolute;
left: 77.69%;
right: 7.94%;
top: 70.39%;
bottom: 23.46%;



/* Vector */

position: absolute;
left: 77.69%;
right: 17.31%;
top: 72.15%;
bottom: 24.34%;



/* Risk */

position: absolute;
left: 82.69%;
right: 7.94%;
top: 70.39%;
bottom: 23.46%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 5.99713px;
line-height: 7px;

color: #64748B;



/* Group */

position: absolute;
left: 40.62%;
right: 43.51%;
top: 92.1%;
bottom: 0%;



/* Vector */

position: absolute;
left: 49.28%;
right: 50.72%;
top: 92.1%;
bottom: 0.88%;



/* Control */

position: absolute;
left: 40.62%;
right: 43.51%;
top: 93.86%;
bottom: 0%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 5.99713px;
line-height: 7px;
text-align: center;

color: #64748B;



/* Group */

position: absolute;
left: -3.61%;
right: 79.14%;
top: 70.39%;
bottom: 23.46%;



/* Vector */

position: absolute;
left: 15.86%;
right: 79.14%;
top: 72.15%;
bottom: 24.34%;



/* Empathy */

position: absolute;
left: -3.61%;
right: 84.85%;
top: 70.39%;
bottom: 23.46%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 5.99713px;
line-height: 7px;
text-align: right;

color: #64748B;



/* Group */

position: absolute;
left: 1.44%;
right: 79.14%;
top: 23.46%;
bottom: 67.76%;



/* Vector */

position: absolute;
left: 15.86%;
right: 79.14%;
top: 28.73%;
bottom: 67.76%;



/* Ethics */

position: absolute;
left: 1.44%;
right: 84.85%;
top: 23.46%;
bottom: 70.39%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 5.99713px;
line-height: 7px;
text-align: right;

color: #64748B;



/* Group */

position: absolute;
left: 38.48%;
right: 27.43%;
top: 17.07%;
bottom: 25.86%;



/* Group */

position: absolute;
left: 38.48%;
right: 27.43%;
top: 17.07%;
bottom: 25.86%;



/* Vector */

position: absolute;
left: 38.48%;
right: 27.43%;
top: 17.07%;
bottom: 25.86%;

background: rgba(6, 182, 212, 0.4);
border: 1.49928px solid #06B6D4;


/* Container */

position: absolute;
width: 133px;
height: 126px;
left: 201px;
top: 8.68px;



/* Container */

box-sizing: border-box;

position: absolute;
width: 62.49px;
height: 37.21px;
left: 0px;
top: 0px;

background: rgba(2, 6, 24, 0.6);
border: 0.319127px solid #1D293D;
border-radius: 6.72971px;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 8.02243e-07px 0px 0px;
gap: 34.35px;

position: absolute;
width: 48.4px;
height: 6.73px;
left: 7.05px;
top: 7.05px;



/* Icon */

width: 6.73px;
height: 6.73px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.34%;
right: 8.32%;
top: 20.84%;
bottom: 20.83%;

border: 0.56055px solid #45556C;


/* Vector */

position: absolute;
left: 37.5%;
right: 37.5%;
top: 37.5%;
bottom: 37.5%;

border: 0.56055px solid #45556C;


/* Text */

width: 7.33px;
height: 6.73px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 88 */

position: absolute;
width: 7px;
height: 7px;
left: 0px;
top: 0.32px;

font-family: 'Inter';
font-style: italic;
font-weight: 900;
font-size: 5.04728px;
line-height: 7px;
/* identical to box height, or 133% */

color: #00D3F3;



/* Text */

position: absolute;
width: 48.4px;
height: 6.31px;
left: 7.05px;
top: 17.13px;



/* Vision */

position: absolute;
width: 18px;
height: 7px;
left: 0px;
top: -0.2px;

font-family: 'Menlo';
font-style: normal;
font-weight: 400;
font-size: 4.20607px;
line-height: 6px;
/* identical to box height, or 150% */
letter-spacing: 0.420607px;
text-transform: uppercase;

color: #62748E;



/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 5.80911px 0px 0px;

position: absolute;
width: 48.4px;
height: 1.68px;
left: 7.05px;
top: 28.49px;

background: #1D293D;
border-radius: 1.07081e+07px;


/* Container */

width: 42.59px;
height: 1.68px;

background: #00B8DB;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

box-sizing: border-box;

position: absolute;
width: 62.5px;
height: 37.21px;
left: 70.49px;
top: 0px;

background: rgba(2, 6, 24, 0.6);
border: 0.319127px solid #1D293D;
border-radius: 6.72971px;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px -8.02243e-06px 0px 0px;
gap: 34.64px;

position: absolute;
width: 48.41px;
height: 6.73px;
left: 7.05px;
top: 7.05px;



/* Icon */

width: 6.73px;
height: 6.73px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.48%;
right: 12.49%;
top: 8.33%;
bottom: 8.32%;

border: 0.56055px solid #45556C;


/* Text */

width: 7.05px;
height: 6.73px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 82 */

position: absolute;
width: 7px;
height: 7px;
left: 0px;
top: 0.32px;

font-family: 'Inter';
font-style: italic;
font-weight: 900;
font-size: 5.04728px;
line-height: 7px;
/* identical to box height, or 133% */

color: #00D3F3;



/* Text */

position: absolute;
width: 48.41px;
height: 6.31px;
left: 7.05px;
top: 17.13px;



/* Courage */

position: absolute;
width: 21px;
height: 7px;
left: 0px;
top: -0.2px;

font-family: 'Menlo';
font-style: normal;
font-weight: 400;
font-size: 4.20607px;
line-height: 6px;
/* identical to box height, or 150% */
letter-spacing: 0.420607px;
text-transform: uppercase;

color: #62748E;



/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 8.71615px 0px 0px;

position: absolute;
width: 48.41px;
height: 1.68px;
left: 7.05px;
top: 28.49px;

background: #1D293D;
border-radius: 1.07081e+07px;


/* Container */

width: 39.69px;
height: 1.68px;

background: #00B8DB;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

box-sizing: border-box;

position: absolute;
width: 62.49px;
height: 37.21px;
left: 0px;
top: 45.21px;

background: rgba(2, 6, 24, 0.6);
border: 0.319127px solid #1D293D;
border-radius: 6.72971px;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 7.22019e-06px 0px 0px;
gap: 34.92px;

position: absolute;
width: 48.4px;
height: 6.73px;
left: 7.05px;
top: 7.05px;



/* Icon */

width: 6.73px;
height: 6.73px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.27%;
right: 8.33%;
top: 12.44%;
bottom: 12.5%;

border: 0.56055px solid #45556C;


/* Vector */

position: absolute;
left: 50.01%;
right: 49.99%;
top: 37.5%;
bottom: 45.84%;

border: 0.56055px solid #45556C;


/* Vector */

position: absolute;
left: 50.01%;
right: 49.95%;
top: 70.83%;
bottom: 29.17%;

border: 0.56055px solid #45556C;


/* Text */

width: 6.75px;
height: 6.73px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 79 */

position: absolute;
width: 7px;
height: 7px;
left: 0px;
top: 0.32px;

font-family: 'Inter';
font-style: italic;
font-weight: 900;
font-size: 5.04728px;
line-height: 7px;
/* identical to box height, or 133% */

color: #00D3F3;



/* Text */

position: absolute;
width: 48.4px;
height: 6.31px;
left: 7.05px;
top: 17.13px;



/* Risk */

position: absolute;
width: 12px;
height: 7px;
left: 0px;
top: -0.2px;

font-family: 'Menlo';
font-style: normal;
font-weight: 400;
font-size: 4.20607px;
line-height: 6px;
/* identical to box height, or 150% */
letter-spacing: 0.420607px;
text-transform: uppercase;

color: #62748E;



/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 10.1672px 0px 0px;

position: absolute;
width: 48.4px;
height: 1.68px;
left: 7.05px;
top: 28.49px;

background: #1D293D;
border-radius: 1.07081e+07px;


/* Container */

width: 38.24px;
height: 1.68px;

background: #00B8DB;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

box-sizing: border-box;

position: absolute;
width: 62.5px;
height: 37.21px;
left: 70.49px;
top: 45.21px;

background: rgba(2, 6, 24, 0.6);
border: 0.319127px solid #1D293D;
border-radius: 6.72971px;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px -4.01122e-06px 0px 0px;
gap: 34.66px;

position: absolute;
width: 48.41px;
height: 6.73px;
left: 7.05px;
top: 7.05px;



/* Icon */

width: 6.73px;
height: 6.73px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.43%;
right: 12.43%;
top: 8.33%;
bottom: 8.34%;

border: 0.56055px solid #45556C;


/* Vector */

position: absolute;
left: 37.5%;
right: 37.5%;
top: 37.5%;
bottom: 37.5%;

border: 0.56055px solid #45556C;


/* Text */

width: 7.02px;
height: 6.73px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 55 */

position: absolute;
width: 7px;
height: 7px;
left: 0px;
top: 0.32px;

font-family: 'Inter';
font-style: italic;
font-weight: 900;
font-size: 5.04728px;
line-height: 7px;
/* identical to box height, or 133% */

color: #00D3F3;



/* Text */

position: absolute;
width: 48.41px;
height: 6.31px;
left: 7.05px;
top: 17.13px;



/* Control */

position: absolute;
width: 21px;
height: 7px;
left: 0px;
top: -0.2px;

font-family: 'Menlo';
font-style: normal;
font-weight: 400;
font-size: 4.20607px;
line-height: 6px;
/* identical to box height, or 150% */
letter-spacing: 0.420607px;
text-transform: uppercase;

color: #62748E;



/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 21.7854px 0px 0px;

position: absolute;
width: 48.41px;
height: 1.68px;
left: 7.05px;
top: 28.49px;

background: #1D293D;
border-radius: 1.07081e+07px;


/* Container */

width: 26.62px;
height: 1.68px;

background: #00B8DB;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

box-sizing: border-box;

position: absolute;
width: 62.49px;
height: 37.21px;
left: 0px;
top: 90.43px;

background: rgba(2, 6, 24, 0.6);
border: 0.319127px solid #1D293D;
border-radius: 6.72971px;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px -5.6157e-06px 0px 0px;
gap: 34.51px;

position: absolute;
width: 48.4px;
height: 6.73px;
left: 7.05px;
top: 7.05px;



/* Icon */

width: 6.73px;
height: 6.73px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.34%;
right: 8.33%;
top: 12.49%;
bottom: 12.51%;

border: 0.56055px solid #45556C;


/* Text */

width: 7.17px;
height: 6.73px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 38 */

position: absolute;
width: 7px;
height: 7px;
left: 0px;
top: 0.32px;

font-family: 'Inter';
font-style: italic;
font-weight: 900;
font-size: 5.04728px;
line-height: 7px;
/* identical to box height, or 133% */

color: #00D3F3;



/* Text */

position: absolute;
width: 48.4px;
height: 6.31px;
left: 7.05px;
top: 17.13px;



/* Empathy */

position: absolute;
width: 21px;
height: 7px;
left: 0px;
top: -0.2px;

font-family: 'Menlo';
font-style: normal;
font-weight: 400;
font-size: 4.20607px;
line-height: 6px;
/* identical to box height, or 150% */
letter-spacing: 0.420607px;
text-transform: uppercase;

color: #62748E;



/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 30.0129px 0px 0px;

position: absolute;
width: 48.4px;
height: 1.68px;
left: 7.05px;
top: 28.49px;

background: #1D293D;
border-radius: 1.07081e+07px;


/* Container */

width: 18.39px;
height: 1.68px;

background: #00B8DB;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

box-sizing: border-box;

position: absolute;
width: 62.5px;
height: 37.21px;
left: 70.49px;
top: 90.43px;

background: rgba(2, 6, 24, 0.6);
border: 0.319127px solid #1D293D;
border-radius: 6.72971px;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px -1.88527e-05px 0px 0px;
gap: 35.43px;

position: absolute;
width: 48.41px;
height: 6.73px;
left: 7.05px;
top: 7.05px;



/* Icon */

width: 6.73px;
height: 6.73px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 66.67%;
right: 8.33%;
top: 33.33%;
bottom: 29.17%;

border: 0.56055px solid #45556C;


/* Vector */

position: absolute;
left: 8.33%;
right: 66.67%;
top: 33.33%;
bottom: 29.17%;

border: 0.56055px solid #45556C;


/* Vector */

position: absolute;
left: 29.17%;
right: 29.17%;
top: 87.5%;
bottom: 12.5%;

border: 0.56055px solid #45556C;


/* Vector */

position: absolute;
left: 49.99%;
right: 50.01%;
top: 12.49%;
bottom: 12.51%;

border: 0.56055px solid #45556C;


/* Vector */

position: absolute;
left: 12.49%;
right: 12.51%;
top: 20.83%;
bottom: 70.84%;

border: 0.56055px solid #45556C;


/* Text */

width: 6.25px;
height: 6.73px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 31 */

position: absolute;
width: 6px;
height: 7px;
left: 0px;
top: 0.32px;

font-family: 'Inter';
font-style: italic;
font-weight: 900;
font-size: 5.04728px;
line-height: 7px;
/* identical to box height, or 133% */

color: #00D3F3;



/* Text */

position: absolute;
width: 48.41px;
height: 6.31px;
left: 7.05px;
top: 17.13px;



/* Ethics */

position: absolute;
width: 18px;
height: 7px;
left: 0px;
top: -0.2px;

font-family: 'Menlo';
font-style: normal;
font-weight: 400;
font-size: 4.20607px;
line-height: 6px;
/* identical to box height, or 150% */
letter-spacing: 0.420607px;
text-transform: uppercase;

color: #62748E;



/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 33.4036px 0px 0px;

position: absolute;
width: 48.41px;
height: 1.68px;
left: 7.05px;
top: 28.49px;

background: #1D293D;
border-radius: 1.07081e+07px;


/* Container */

width: 15px;
height: 1.68px;

background: #00B8DB;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 355.5px;
height: 272px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* section */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;
gap: 8px;

width: 355.5px;
height: 133px;

background: rgba(15, 23, 43, 0.4);
border: 1px solid #1D293D;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* div */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 0px 2px;
gap: 8px;

width: 337.5px;
height: 14px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Icon */

width: 12px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 1px solid #00D3F2;


/* Pattern Detection */

width: 82px;
height: 11px;

font-family: 'Menlo';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 11px;
/* identical to box height, or 138% */
text-transform: uppercase;

color: #90A1B9;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* div */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 337.5px;
height: 93px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 2 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 337.5px;
height: 22px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 01 */

width: 13px;
height: 15px;

font-family: 'Menlo';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */

color: #00B8DB;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* p */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 320.5px;
height: 22px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* You are not afraid to take action under pressure. While others hesitate, you have already taken a step. This positions you as a natural leader in crisis moments. */

width: 320.5px;
height: 22px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 11px;
/* or 138% */

color: #62748E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 2 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 337.5px;
height: 22px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* 02 */

width: 13px;
height: 15px;

font-family: 'Menlo';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */

color: #00B8DB;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* p */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 320.5px;
height: 22px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* You prioritize long-term impact over short-term costs. You see the big picture — but this sometimes makes it difficult for you to see the people in front of you. */

width: 320.5px;
height: 22px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 11px;
/* or 138% */

color: #62748E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 2 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 337.5px;
height: 33px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* 03 */

width: 13px;
height: 15px;

font-family: 'Menlo';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */

color: #00B8DB;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* p */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 320.5px;
height: 33px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* When ethics conflict with interests, your tendency is clear: you choose the interest. This pattern repeated in 5 out of 8 scenarios. It works in the short term — but creates erosion of trust in the long term. */

width: 320.5px;
height: 33px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 11px;
/* or 138% */

color: #62748E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* section */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;
gap: 8px;

width: 355.5px;
height: 123px;

background: rgba(251, 44, 54, 0.05);
border: 1px solid rgba(251, 44, 54, 0.2);
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 341px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Target */

width: 12px;
height: 12px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 0.832839px solid #FB2C36;


/* Vector */

position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;

border: 0.832839px solid #FB2C36;


/* Vector */

position: absolute;
left: 41.67%;
right: 41.67%;
top: 41.67%;
bottom: 41.67%;

border: 0.832839px solid #FB2C36;


/* p */

width: 321px;
height: 10px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Kör Nokta:Empati eksikliği operasyonel riski artır */

position: absolute;
width: 92px;
height: 11px;
left: 0px;
top: 0px;

font-family: 'Menlo';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 11px;
/* identical to box height, or 138% */
text-transform: uppercase;

color: #FB2C36;



/* p */

width: 211.69px;
height: 10.51px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Kör Nokta:Empati eksikliği operasyonel riski artır */

position: absolute;
width: 116px;
height: 11px;
left: 0px;
top: -0.24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 11px;
/* identical to box height, or 138% */

color: #FFFFFF;



/* p */

width: 337.5px;
height: 44px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Kör Nokta:Empati eksikliği operasyonel riski artır */

position: absolute;
width: 329px;
height: 44px;
left: 1px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 11px;
/* or 138% */

color: #90A1B9;



/* h3 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 0px;
gap: 8px;

position: absolute;
width: 119px;
height: 28px;
left: 66px;
top: 33.04px;

border-radius: 0px;


/* Text */

width: 119px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
/* identical to box height, or 100% */
text-transform: capitalize;

color: #E2E8F0;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
